.wrapper {
  height: var(--default-layout-header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;
  width: 100%;
  .inner {
    height: 100%;
    width: var(--default-layout-width);
    background-color: #ccc;
  }
}

// .wrapper-t {
//   display: flex;
//   justify-content: space-around;
//   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
//   height: 60px;
//   width: calc(100% + 0px);
//   top: 0px;
//   position: fixed;
//   -webkit-box-align: center;
//   align-items: center;
//   background: rgb(255, 255, 255);
//   z-index: 3000;
// }
