.wrapper {
  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;
  top: 0px;
  position: sticky;
  z-index: 3000;
  background-color: var(--white);
  padding-right: 2.4rem;
  padding-left: 1.6rem;
  .inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Actions
.actions {
  display: flex;
  height: 100%;
  align-items: center;
}
