.wrapper {
  width: var(--W);
  height: calc(var(--W) / 2.5);
  font-size: calc(var(--W) / 6);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  user-select: none;
  padding: 3px;

  border: 1px solid transparent;
  background-color: var(--C);
  color: var(--white);
  border-radius: var(--R);

  &:hover {
    filter: brightness(90%);
  }
  &:active {
    filter: brightness(100%);
  }
}

.outline {
  background-color: var(--white);
  color: var(--C);
  border-color: var(--C);
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.text {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  color: var(--C);
}
.invi {
  display: none;
}