@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Regular.woff2');
  font-weight: 400;
}
@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Semibold.woff2');
  font-weight: 500;
}
@font-face {
  font-family: TikTokFont;
  src: url('/assets/fonts/TikTokFont-Bold.woff2');
  font-weight: 600;
}
:root {
  --primary: rgb(233, 3, 3);
  --black: #000;
  --white: #fff;
  --text-color: #333;
  --text-sub-color: #a5a3a3;
  --font-family: 'TikTokFont', sans-serif;
  //Default layout
  --default-layout-header-height: 6rem;
  --default-layout-width: 115rem;
  --default-layout-Sidebar-width: 35rem;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-color);
  overflow-y: auto;
}
a[href] {
  color: var(--text-color);
  text-decoration: none;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
  background-color: transparent;
}
// TIPPY
.tippy-box {
  background-color: #333;
}
.tippy-arrow {
  color: #333;
}

// Scroll bar
// html ::-webkit-scrollbar {
//   border-radius: 0px;
//   width: 8px;
// }
// html *::-webkit-scrollbar {
//   border-radius: 0;
//   width: 8px;
// }

// html ::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgb(249, 9, 9);
// }
// html *::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: rgba(255, 255, 255, .08);
// }

// html ::-webkit-scrollbar-track {
//   border-radius: 0px;
//   background-color: green;
// }
// html *::-webkit-scrollbar-track {
//   border-radius: 0;
//   background-color: rgba(0, 0, 0, 0);
// }
