$background-color: #f0f0f0;
$text-color: darken($background-color, 20%);
.search {
  width: var(--W);
  height: 46px;
  background-color: $background-color;
  border-radius: var(--W);
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    outline: $text-color solid 0.5px;
    .search-btn {
      cursor: pointer;
      background-color: darken($background-color, 5%);
      color: darken($text-color, 90%);
    }
  }
  &:focus-within {
    outline: $text-color solid 0.5px;
  }

  input {
    flex: 1;
    font-size: 1.6rem;
    margin-left: 16px;
    color: darken($text-color, 80%);
    caret-color: var(--primary);
    font-family: var(--font-family);

    &:not(:placeholder-shown) ~ .search-btn {
      color: darken($text-color, 90%);
    }
  }

  span {
    width: 0.8px;
    height: 28px;
    margin: 9px 0;
    background: rgba(22, 24, 35, 0.12);
  }
  .search-btn {
    border-radius: 0 var(--W) var(--W) 0;
    font-size: 1.8rem;
    color: $text-color;
    margin: 0;
    &:active {
      background-color: $background-color;
    }
  }
}
.loading {
  transform: rotate(360deg);
  animation: loading 1s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.searchResult {
  width: var(--W, 300px);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-height: min(-156px + 100vh, 760px);
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px;
  border-radius: 8px;
  padding-block: 8px;
  overflow: hidden auto;
  list-style-type: none;
}
