.fallbackSize {
    width: 4rem;
    height: 4rem;
    margin: 0.3rem;
}
.customSize {
    width: var(--W, 5rem);
    height: var(--H, 5rem);
    border-radius: var(--R, 0.5rem);
    margin: .3rem;
    // padding: 0.5rem;
    vertical-align: middle;
    display: inline-block
}
