.fallbackSize {
    width: 4rem;
    height: 4rem;
    margin: 0.3rem;
}
.customSize {
    width: var(--W);
    height: var(--H);
    border-radius: var(--R);
    margin: .3rem;
    vertical-align: middle;
    display: inline-block
}
